extends layouts/main-layout.pug
block content
    +createPostForm(loggedInUser)
    div.postContainer

    +createReplyModal(loggedInUser)
    +createDeleteModal(loggedInUser)
    +createPinPostModal()

block scripts
    script(src="/js/home.js")