extends layouts/main-layout.pug

block content
    .resultsContainer
block buttons 
    button#markAsReadBtn
        i.fa-solid.fa-check-double
block scripts
    script(src="/js/notificationsPage.js")